<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> This is Gallery Page.</h1>
    <hr color="blue" size="4px">
    <button type="button"><a href="/">Home</a></button>
    <button type="button"><a href="/about">About</a></button>
    <button type="button"><a href="/service">Service</a></button>
    <button type="button"><a href="/gallery">Gallery</a></button>
    <hr color="blue" size="4px">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit labore eius suscipit pariatur voluptatem rem repudiandae earum totam aspernatur, cupiditate expedita est, accusamus neque quae sapiente non, dignissimos modi? Voluptatem ipsa reprehenderit ipsam earum voluptas officia tempore incidunt recusandae facilis, molestiae illo exercitationem accusantium vitae repellendus, inventore autem officiis. Sunt at maxime quod tenetur, inventore vero molestias odit illo et ipsam obcaecati nihil natus architecto fuga aliquam? Nemo sapiente porro voluptatum magnam. Molestiae sequi, optio enim eveniet quo asperiores voluptate odit tenetur repellendus id tempore autem, cum possimus, fugiat ea ipsum amet est neque provident molestias inventore veniam perspiciatis nam.</p>

    <hr>

    <span>Developer:</span><b>{{developer}}</b><br>
    <span>Post:</span><b>{{post}}</b><br>
</body>
</html>